@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--comic);
  overflow-y: auto; /* Habilita a rolagem vertical */
  max-height: 100%; /* Define altura máxima */
}

body::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  height: 8px; /* Altura da barra de rolagem (para rolagem horizontal) */
}

body::-webkit-scrollbar-thumb {
  background-color: #4CAF50; /* Cor do thumb */
  border-radius: 10px; /* Bordas arredondadas */
  border: 3px solid #F0F0F0; /* Borda ao redor do thumb */
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor da pista de rolagem */
  border-radius: 10px; 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #45A049; 
}

